@import '../etc/variables.scss';

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 98px;
    .search {
      background-color: $grey;
      border: none;
      color:$text-grey;
      font-size: 19px;
      padding: 6px;
      padding-left: 15px;
      padding-right: 80px; 
      width: 86.4%;
      height: 35px;
      box-shadow: black 0 0 4px;
      border-radius: 3px;
      margin-top: 21px; 
      position: relative;
      background-image: url('/icons/search.png');
      background-repeat: no-repeat;
      background-size: 29px 29px;
      background-position: 98% 3px;
      &:focus{
        outline: none;
      }
    }
    hr{
      margin-top: auto;
      width: 63.4%;
      margin-bottom: 6px;
      border: solid 1px $grey;
    }
  }