@import '../etc/variables.scss';

header {
    height: 70px;
    border-bottom: solid 1px $grey;
  
    .header-box {
      padding: 0 40px;
      display: flex;
  
      .logo {
        color: $blue;
        cursor: pointer;
        font-size: 40px;
        font-family: 'Pacifico';
        text-shadow: black 0 0 4px;
        text-decoration: none;
        a{
            width: 100%;
            height: 100%;
        }
      }
  
      .plus {
        margin-left: auto;
        align-self: center;
        background-color: $grey;
        width: 38px;
        height: 38px;
        box-shadow: black 0 0 4px;
        border-radius: 50%;
        color: $blue;
        position: relative;
        cursor: pointer;
        transition: 0.2s;
        text-decoration: none;
  
        &:hover {
          background-color: $white-grey;
        }
  
        &::after {
          content: '+';
          font-family: 'Pacifico';
          font-size: 40px;
          position: absolute;
          top: -21px;
          left: 5px;
        }
      }
    }
  }