@import "../etc/variables.scss";

.image-form-container {
    display: flex;

    .new-image {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        align-items: center;
        padding: 10px;
        border-right: 1px solid $white-grey;

        * {
            margin-bottom: 10px;
        }

        button {
            width: 200px;
            border: none;
            background-color: $grey;
            box-shadow: black 0 0 4px;
            padding: 8px 0;
            font-size: 17px;
            color: $blue;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
                background-color: $white-grey;
            }
        }

        .img-name,
        .img-tags,
        textarea {
            background-color: $white-grey;
            border: none;
            padding: 6px;
            color: $text-grey;
            box-shadow: black 0 0 4px;
            border-radius: 3px;
        }

        .img-name,
        .img-tags {
            width: 250px;
        }

        textarea {
            resize: vertical;
            width: 100%;
            height: 50px;
        }

        .upload {
            align-self: flex-start;
            margin-left: 10px;

            input {
                display: none;
            }

            .choose-file {
                cursor: pointer;
                background-color: $grey;
                box-shadow: black 0 0 4px;
                padding: 3px 20px;
                padding-bottom: 7px;
                color: $blue;
                border-radius: 3px;
                font-size: 13px;
                &:hover {
                    background-color: $white-grey;
                }
            }

            #upfile-name {
                margin-left: 10px;
                color: $text-grey;
            }
        }

        .is-it-ok {
            color: $text-grey;
            text-align: justify;
        }

        hr {
            width: 90%;
            height: 1px;
            border: none;
            border-bottom: 1px solid $white-grey;
            margin: 20px 0;
        }

        
    }

    .upload-img-container {
        padding: 20px;
        width: 60%;
        #uploaded-img {
            width: 100%;
            height: auto;
        }
    }
}