@import "../../etc/variables.scss";

.modal-back{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.big-img {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    z-index: 1000;
    display: flex;
    //border: 1px solid white;
    .img-container{
        width: 70%;
        overflow: hidden;
        max-height: 100%;
        display: flex;
        align-items: center;
        background-color: $white-grey;
        img{
            width: 100%;
            height: auto;
        }
    }
    .description {
        color: $text-grey;
        padding: 30px;
        background-color: $dark-grey;
        width: 30%;
        h1{
            padding-left: 5px;
            padding-bottom: 10px;
            font-size: 24px;
            border-bottom: 1px solid $blue;
        }
        .desc{
            padding: 5px;
            padding-top: 15px;
            text-align: justify;
        }
        .download{
            padding: 10px;
            word-wrap: break-word;
            color: $blue;
            a{
                color: $text-grey;
            }
        }
        .tags{
            margin-top: 20px;
            padding-top: 10px;
            border-top: 1px solid $blue;
            display: flex;
            flex-wrap: wrap;
            span {
                padding: 4px;
            }
        }
    }
}